<a href="/"><div id="waypoint-logo" >
    <img src="images/waypoint-logo-no-text.jpg">
    <h1 id="line1" style="position: absolute;">WAYPOINT</h1>
    <h1 id="line2" style="position: absolute;">GAMING</h1>
</div></a>

<nav class="navbar">
    <div class="navbar inner"></div>
</nav>
<ul class="masthead-navbar">
    <li id="about"><a href="/about">About Us</a></li>
    <li id="twitch"><a href="/twitch">Twitch</a></li>
    <li id="events"><a href="/events">Private Events</a></li>
    <li id="contact"><a href="/contact">Contact Us</a></li>
</ul>

<div class="paypal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" value="_s-xclick" type="hidden">
        <input name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCUN1dLlupNBQ6c+gDm4wEUwtXl2E/RFd68SPthPLmctIvkLKzjScGwgU6MqSd2sW/yDjkUmGmEL5at/HV+qEC5X+0gsud2j3M5OeM6dUsOhFFoa2gmQtGqrXOXwOMXHeXvcd6VTJoSsG/ls4rLs7Oq8tp7FTLRBsMsCgRsFeUBLDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIrQQLRxf18POAgZBDhwFnwCRqQaflfvZcZjlMZsvvEPB6OX4H39Qim4No6XGLQuLvR6skuNVFW0v8w+2xP1eEJouUO52FOmBgE4qHYsQPl0unO+5zNIZkqc5WyTAFoNFXtQhbxFozhe2138do+OvAvQnpx91E+CqjpVSmcq7MvlhR/BBo6AImzE0zryXizP5xVIuPy0X+V7bdGzOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzA2MjQxNTU3NDFaMCMGCSqGSIb3DQEJBDEWBBT5tK2cAEnQe3KOgS1smhrusMAMXTANBgkqhkiG9w0BAQEFAASBgHMcMVSEZwwSFNwH1XnJdMMtCrU7BZW/XqBZF1DTVMmFLNiDwS4B2IibUGaz7pfsX4cmVK7Tt/QL8eplyQZwQPpVMNtLa8/ou/oEC9Etkusdc1YFqsnJZs9BQZLH2h5yUBIjQiXdZm/YWaIAeJ9ap8YxtuxdSRHGimXShnljAv0+-----END PKCS7-----" type="hidden">
        <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0">
        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
    </form>
</div>

<div class="abt-content">
    <h1>OUR VISION</h1>

    <h2>
        Founded by gamers, for gamers. Waypoint Gaming is the embodiment of a culture that is expanding beyond preconceived notions
        that eSports will never become mainstream. You and your friends will find other like minded individuals who are all striving
        to better themselves. Begin your rise through the ladders in your favorite game, start a local team and enter tournaments, become
        the next star.  The future of social and competitive gaming is here, join us in being the pioneers.
    </h2>
</div>

<div class="footer">
    <p id="legal">——Waypoint Gaming © 2016  |  All Rights Reserved——</p>
</div>