<a href="/"><div id="waypoint-logo" >
    <img src="images/waypoint-logo-no-text.jpg">
    <h1 id="line1" style="position: absolute;">WAYPOINT</h1>
    <h1 id="line2" style="position: absolute;">GAMING</h1>
</div></a>

<nav class="navbar">
    <div class="navbar inner"></div>
</nav>
<ul class="masthead-navbar">
    <li id="about"><a href="/about">About Us</a></li>
    <li id="twitch"><a href="/twitch">Twitch</a></li>
    <li id="events"><a href="/events">Private Events</a></li>
    <li id="contact"><a href="/contact">Contact Us</a></li>
</ul>

<div class="paypal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" value="_s-xclick" type="hidden">
        <input name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCUN1dLlupNBQ6c+gDm4wEUwtXl2E/RFd68SPthPLmctIvkLKzjScGwgU6MqSd2sW/yDjkUmGmEL5at/HV+qEC5X+0gsud2j3M5OeM6dUsOhFFoa2gmQtGqrXOXwOMXHeXvcd6VTJoSsG/ls4rLs7Oq8tp7FTLRBsMsCgRsFeUBLDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIrQQLRxf18POAgZBDhwFnwCRqQaflfvZcZjlMZsvvEPB6OX4H39Qim4No6XGLQuLvR6skuNVFW0v8w+2xP1eEJouUO52FOmBgE4qHYsQPl0unO+5zNIZkqc5WyTAFoNFXtQhbxFozhe2138do+OvAvQnpx91E+CqjpVSmcq7MvlhR/BBo6AImzE0zryXizP5xVIuPy0X+V7bdGzOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzA2MjQxNTU3NDFaMCMGCSqGSIb3DQEJBDEWBBT5tK2cAEnQe3KOgS1smhrusMAMXTANBgkqhkiG9w0BAQEFAASBgHMcMVSEZwwSFNwH1XnJdMMtCrU7BZW/XqBZF1DTVMmFLNiDwS4B2IibUGaz7pfsX4cmVK7Tt/QL8eplyQZwQPpVMNtLa8/ou/oEC9Etkusdc1YFqsnJZs9BQZLH2h5yUBIjQiXdZm/YWaIAeJ9ap8YxtuxdSRHGimXShnljAv0+-----END PKCS7-----" type="hidden">
        <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0">
        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
    </form>
</div>

<div class="events-content">
    <h1>VIRTUAL REALITY</h1>
    <h1>BIRTHDAY PARTIES</h1>

    <h2>
        Looking to make your child's birthday party far more memorable?
        Waypoint Gaming has virtual reality birthday parties available!
        We'll bring everything needed to you, we'll set everything up for the Virtual Reality,
        indoors or outdoors.
    </h2>

    <div class="vr-images">
        <img src="http://nebula.wsimg.com/216363de43d7940921fa3592362a8e3a?AccessKeyId=6FBDC085920DF93B599F&disposition=0&alloworigin=1">
        <img src="http://nebula.wsimg.com/88b1821ad7af91b1ffb6dae86058e8e5?AccessKeyId=6FBDC085920DF93B599F&disposition=0&alloworigin=1">
        <img src="http://nebula.wsimg.com/d89b979207d2b9fb6af44fcb3a148449?AccessKeyId=6FBDC085920DF93B599F&disposition=0&alloworigin=1">
        <img src="http://nebula.wsimg.com/836ed37f218802c0c013bd280de7022b?AccessKeyId=6FBDC085920DF93B599F&disposition=0&alloworigin=1">
    </div>
    <div class="pricing">
        <h2>PRICING</h2>
        <p style="margin-top: 20px;">Minimum: 5 Hours $550 Dollars</p>
        <p>$100 Dollars per additional hour</p>
        <p>7 Years and Up. Adult supervision (besides Waypoint Gaming) is necessary! </p>
        <p>This includes play time for every child that is at the birthday party, in all the games!
            We'll do all the set-up! Give your child an experience they will never forget!</p>
        <p>Within a 30 mile Radius of Garden City, anything further and prices will be discussed over email.</p>
    </div>
    <div class="game-list">
        <h2>GAME LIST</h2>
        <ul style="list-style-type: none; text-align: center; margin-right: 45px;">
            <li style="margin-top: 20px;">Minecraft VR</li>
            <li>Holoball</li>
            <li>Soundboxing</li>
            <li>Audioshield</li>
            <li>Archery</li>
            <li>Job Simulator</li>
            <li>More on request!</li>
        </ul>
    </div>
    <div class="email-form">
        <p>If you need any more information, feel free to send us an email!</p>
        <form action="mailto:waypointgamingny@gmail.com">
            Name:<br>
            <input type="text" name="name" style="width: 400px" required><br>
            E-Mail:<br>
            <input type="text" name="email" style="width: 400px" required><br>
            Subject:<br>
            <input type="text" name="subject" value="VR Party Information" style="width: 400px" required><br>
            Message:<br>
            <textarea name="message" style="width: 400px; height: 100px;" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>