<a href="/"><div id="waypoint-logo" >
    <img src="images/waypoint-logo-no-text.jpg">
    <h1 id="line1" style="position: absolute;">WAYPOINT</h1>
    <h1 id="line2" style="position: absolute;">GAMING</h1>
</div></a>

<nav class="navbar">
    <div class="navbar inner"></div>
</nav>
<ul class="masthead-navbar">
    <li id="about"><a href="/about">About Us</a></li>
    <li id="twitch"><a href="/twitch">Twitch</a></li>
    <li id="events"><a href="/events">Private Events</a></li>
    <li id="contact"><a href="/contact">Contact Us</a></li>
</ul>

<div class="paypal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" value="_s-xclick" type="hidden">
        <input name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCUN1dLlupNBQ6c+gDm4wEUwtXl2E/RFd68SPthPLmctIvkLKzjScGwgU6MqSd2sW/yDjkUmGmEL5at/HV+qEC5X+0gsud2j3M5OeM6dUsOhFFoa2gmQtGqrXOXwOMXHeXvcd6VTJoSsG/ls4rLs7Oq8tp7FTLRBsMsCgRsFeUBLDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIrQQLRxf18POAgZBDhwFnwCRqQaflfvZcZjlMZsvvEPB6OX4H39Qim4No6XGLQuLvR6skuNVFW0v8w+2xP1eEJouUO52FOmBgE4qHYsQPl0unO+5zNIZkqc5WyTAFoNFXtQhbxFozhe2138do+OvAvQnpx91E+CqjpVSmcq7MvlhR/BBo6AImzE0zryXizP5xVIuPy0X+V7bdGzOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzA2MjQxNTU3NDFaMCMGCSqGSIb3DQEJBDEWBBT5tK2cAEnQe3KOgS1smhrusMAMXTANBgkqhkiG9w0BAQEFAASBgHMcMVSEZwwSFNwH1XnJdMMtCrU7BZW/XqBZF1DTVMmFLNiDwS4B2IibUGaz7pfsX4cmVK7Tt/QL8eplyQZwQPpVMNtLa8/ou/oEC9Etkusdc1YFqsnJZs9BQZLH2h5yUBIjQiXdZm/YWaIAeJ9ap8YxtuxdSRHGimXShnljAv0+-----END PKCS7-----" type="hidden">
        <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0">
        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
    </form>
</div>

<div id="welcome">
    <div class="gfm-widget">
        <iframe class='gfm-media-widget' image='1' coinfo='0' width='125%' height='125%' frameborder='0' id='support-waypoint-gaming'></iframe>
        <script src='//funds.gofundme.com/js/5.0/media-widget.js'></script>
    </div>
    <div class="text-box">
        <h2>
            We personally thank you for taking the time to come to our website, and for your continued support of the Waypoint Gaming
            brand and community. As we all journey through this turbulent time we appreciate any donation given to help us cover expenses.
            We will open stronger than ever, and be the home for Long Island esports.
        </h2>

        <h1>PLAY WITH FRIENDS</h1>
        <h1>WIN LIKE CHAMPIONS</h1>
    </div>
    <div class="text-box2">
        <p id="first-para">
            Hello everyone, we at Waypoint Gaming want to personally thank everything for all of the tremendous support you've shown thus far to Waypoint Gaming and all of your contributions to creating the community we've wished to create. We want to apologize for the lack of information surrounding the opening of Waypoint Gaming. Throughout the previous months, we've had many great moments and just as many bad moments.

            We officially got the keys to our location in early January, since then we've been battling to get our location open and start building the home for all of LongIslandsesports. We thank every single person that has been following our progress if you've been here since the day we opened the Facebook page or have only heard of us in the past week. From the bottom of our hearts, thank you.

            We've hit several roadblocks on our journey thus far, and Waypoint Gaming has been able to get through them every time. However, we've hit a huge roadblock that is far too difficult for us to handle on our own. We're coming forth asking you please help us continue to keep our dream alive.
        </p>

        <p>
            We have to raise $45,000 to survive the next difficult 6 months, and we come to you the community to continue to show your support. We are at risk of closing before we over open, that is a reality that unfortunately we have to live in. These circumstances involve dealing with the Building Department of the town that Waypoint Gaming resides in. They have fears that we are going to be detrimental to the community and have several other grievances that have halted our opening to a standstill. These matters take time, often the necessary paperwork takes months for the town to process, because of this we are currently under the impression that we'll be having our public hearing with the County sometime in late September.

            We have run our of money to cover the rent and other expenses such as town tax, the rent, electricity, and school taxes. The $45,000 previously mentioned covers the all of this aforementioned expenses, and also the lawyer fees to help build us the best possible legal team. This team comprising of lawyers, experts in both building zoning and parking will be our firepower to convince the county that Waypoint Gaming will be good for the community.
        </p>

        <p>
            To those who have been waiting for news on where we are, we again apologize for the delay however it has taken a time to sufficiently compound enough information to bring to you today. It's going to be a bumpy road, but we at Waypoint Gaming have not lost faith. We want everyone to be thoroughly convinced that...

            We have not abandoned Waypoint Gaming, nor will we ever. We will fight tooth and nail until we can bring the community the home it deserves.
        </p>

        <p>
            There are many ways the Waypoint Gaming brand will continue to be relevant in the LongIslandesports scene. We will have events at various event halls throughout Long Island so we hope that you can diligently wait while we compound the information on when we'll be hosting our first event. More information will be released daily with updates on Waypoint Gaming, and soon to be released our daily streaming schedule! You can donate during the Twitch stream to show your support. Join us on Discord via the button the to the right, and hop in and have talk to us whenever we're around, or play some video games with us and be on stream!

            Thank you so much for reading. We are Waypoint Gaming. Play with Friends, Win like Champions.
        </p>
    </div>
</div>

<div class="footer">
    <p id="legal">——Waypoint Gaming © 2016  |  All Rights Reserved——</p>
</div>